<div class="flex flex-col gap-4">
    @for (cat of getCategories(); track $index) {
        <div>
            <div class="px-2 playfair-display-400 text-(--secondary-color) text-2xl mb-4">{{cat.name | uppercase}}</div>
            <div class="px-2 flex flex-row gap-4 overflow-x-auto scrollbar-none">
                @for(service of getCategoryServices(cat) ; track $index){
                    <div class="static article-container flex-shrink-0 cursor-pointer"
                        [style.width.px]="serviceWidth()"
                        (click)="onService(service.id!)">
                        <div class="relative inline-block aspect-square">
                            <img  [src]="service.thumbnail.url"  [alt]="service.name"
                            [style.object-fit]=" 'cover' ">
                            @if(service.discount !== 0){
                                <div class="absolute lora-400 text-center top-1 right-1 bg-black text-white py-1 px-2 text-sm aspect-square">{{service.discount}}%<br>OFF</div>
                            }
                        </div>
                        <div class="w-full playfair-display-400 text-center text-(--primary-color) mt-3 mb-4">
                            <div class="text-lg">{{service.name | uppercase}}</div>
                            <div class="whitespace-pre-wrap playfair-400 text-(--secondary-color) text-sm mt-1">
                                {{ getServiceTypeName(service.type!) }}
                            </div>
                            <div class="text-base mt-1"
                            [class.line-through]="service.discount">{{service.price}} {{service.currency}}</div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>