<div class="relative border-b-1 border-(--primary-color)">

    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" 
        viewBox="0 0 24 24" fill="none" stroke="currentColor" 
        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
        class="absolute top-0 left-0 transition-opacity duration-200 ease-in-out text-(--secondary-color)"
        [class.opacity-0]="focused()">

        @switch (leadingIcon()) {
            @case ('search') {
                <path d="m21 21-4.34-4.34"/>
                <circle cx="11" cy="11" r="8"/>
            }
            @case ('location') {
                <line x1="2" x2="5" y1="12" y2="12"/>
                <line x1="19" x2="22" y1="12" y2="12"/>
                <line x1="12" x2="12" y1="2" y2="5"/>
                <line x1="12" x2="12" y1="19" y2="22"/>
                <circle cx="12" cy="12" r="7"/>
            }
            @case('timeslot'){
                <path d="M16 14v2.2l1.6 1"/>
                <path d="M16 2v4"/>
                <path d="M21 7.5V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h3.5"/>
                <path d="M3 10h5"/>
                <path d="M8 2v4"/>
                <circle cx="16" cy="16" r="6"/>
            }
            @case('filter') {
                <path d="M22 3H2"/>
                <path d="M20 8H4"/>
                <path d="M18 13H6"/>
                <path d="M16 18H8"/>
            }
            @case('type') {
                <path d="M12 4v16"/>
                <path d="M4 7V5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2"/>
                <path d="M9 20h6"/>
            }
            @case('custom') {
                <ng-content select="[leading-icon]"></ng-content>
            }

        }
    </svg>

    <input type="text"
        (blur)="focused.set(false)"
        (focus)="focused.set(true)"
        class="w-full roboto-400 transition-padding duration-400 focus:outline-none"
        [class.ps-3]="!focused()"
        [class.ps-1]="focused()"
        [placeholder]="placeholder()"
        [ngModel]="value()"
        (ngModelChange)="changed.emit($event)">

    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
        viewBox="0 0 24 24" fill="none" stroke="currentColor" 
        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
        class="absolute top-0 right-0 transition-opacity duration-200 ease-in-out text-(--primary-color) cursor-pointer"
        [class.opacity-100]="hasValue()"
        [class.opacity-0]="!hasValue()"
        [class.pointer-events-none]="!hasValue()"
        (click)="changed.emit('')">
            <path d="M18 6 6 18"/>
            <path d="m6 6 12 12"/>
    </svg>

    @if(options().length > 0 && filteredOptions().length > 0){
        <div class="absolute left-0 right-0 top-4 px-1 z-50 overflow-y scrollbar-none"
            [class.hidden]="!focused()"
            [class.shown--transition]="focused()">
            <ul class="w-full bg-white border border-(--secondary-color)">
                @for (option of filteredOptions(); track $index) {
                    <li class="px-3 py-2 cursor-pointer hover:bg-gray-100" (mousedown)="selectOption(option)">
                        {{ option }}
                    </li>
                }
            </ul>
        </div>
    }
</div>