<app-topbar 
(logoPressed)="toggleModalNavigation()"
(menuPressed)="onMenuPressed()"
[state]="topbarState()">
</app-topbar>

<app-filter-articles
[active]="isActiveArticlesList()"
[expanded]="isExpandedArticleFilters()"
(openDatePicker)="showDatePicker.set(true);">
</app-filter-articles>

<app-filter-studios
[active]="isActiveStudiosList()"
[expanded]="isExpandedStudioFilters()">
</app-filter-studios>

<app-list-articles
[active]="isActiveArticlesList()">
</app-list-articles>

<app-list-studios 
[active]="isActiveStudiosList()">
</app-list-studios>

<app-two-state-button 
(valueChange)="selectList($event)" 
[value]="selectedList()">
</app-two-state-button>

<app-modal-navigation
(close)="toggleModalNavigation()"
[isOpen]="navigationMode()">
</app-modal-navigation>

<app-modal-container
(opened)="stopScroll()"
(closed)="allowScroll()">
</app-modal-container>

<app-date-picker 
[isOpen]="showDatePicker()"
(close)="showDatePicker.set(false);">
</app-date-picker>