<!-- Terms of Service -->
<div class="p-1 w-full h-[calc(90vh)]">
    <div class="bg-[#F3F4F6] w-full h-full rounded-lg text-(--primary-color)">
        <!-- Terms Header -->
        <div class="flex flex-row gap-1 p-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" 
            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="m11 17 2 2a1 1 0 1 0 3-3"/>
                <path d="m14 14 2.5 2.5a1 1 0 1 0 3-3l-3.88-3.88a3 3 0 0 0-4.24 0l-.88.88a1 1 0 1 1-3-3l2.81-2.81a5.79 5.79 0 0 1 7.06-.87l.47.28a2 2 0 0 0 1.42.25L21 4"/>
                <path d="m21 3 1 11h-2"/><path d="M3 3 2 14l6.5 6.5a1 1 0 1 0 3-3"/>
                <path d="M3 4h8"/>
            </svg>
            <span class="roboto-500 text-lg">{{getTOSTitle()}}</span>        
        </div>
        
        <!-- List of Terms -->
        <div class="p-1 h-[calc(90vh-92px)] overflow-y-scroll scrollbar-none">
            @for (tos of filteredTOS; track $index) {
                <div class="lora-500 mb-1">{{$index + 1}}. {{tos.HEADER}}</div>
                <div class="ps-1 lora-400 mb-2  ">{{tos.BODY}}</div>
            }
        </div>
    </div>
</div>

<!-- Search Input -->
<div class="p-2">
    <app-text-input 
    [value]="search()"
    [placeholder]="searchPlaceholder()"
    [leadingIcon]="'search'"
    (changed)="searchChange($event)">
    </app-text-input>
</div>