<div class="w-full h-full flex flex-col gap-2 py-4 text-(--primary-color)">
    <div class="text-center ps-1 mb-1 lora-500 text-2xl">{{getReservationTitle()}}</div>
    <div class="px-2 flex flex-col gap-2 lora-400 text-md text-(--primary-color)">
        <reservation-info-line 
        [isLink]="true" 
        [left]="getStudioNameText()" 
        [right]="getStudioName()"
        (click)="navigateStudio()">
        </reservation-info-line>

        <reservation-info-line
        [isLink]="true"
        [left]="getServiceNameText()"
        [right]="getServiceName()"
        (click)="navigateService()">
        </reservation-info-line>

        <reservation-info-line
        [left]="getCategoryNameText()"
        [right]="getCategory() | uppercase">
        </reservation-info-line>

        <reservation-info-line
        [left]="getServiceTypeText()"
        [right]="getServiceType()">
        </reservation-info-line>
        
        
        <hr class="text-(--secondary-color)">
        @if(hasDiscount()){
            <reservation-info-line
            [left]="getPriceText()"
            [right]="getDiscountPrice()">
            </reservation-info-line>
        }
        @else {
            <reservation-info-line
            [left]="getPriceText()"
            [right]="getPrice()">
            </reservation-info-line>
        }
        <reservation-info-line
        [left]="getDurationText()"
        [right]="getDuration()">
        </reservation-info-line>

        <hr class="text-(--secondary-color)">
        <reservation-info-line
        [left]="getDateText()"
        [right]="getTimeslot()">
        </reservation-info-line>

        <reservation-info-line 
        [isLink]="true"
        [left]="getAddressText()"
        [right]="getAddress() + ', ' + getCity() + ', ' + getCountry()"
        (click)="navigateMaps()">
        </reservation-info-line>
        
        <hr class="text-(--secondary-color)">
        <reservation-info-line
        [isLink]="true"
        [left]="getContactPhoneText()"
        [right]="getContactPhone()"
        (click)="goToCall()">
        </reservation-info-line>
        
        <reservation-info-line
        [left]="getStatusText()"
        [right]="getStatus()">
        </reservation-info-line>
    </div>
</div>